<h1>Battle!</h1>
<h2>Enter your names to play</h2>

<form action="/names" method="post">
  <label for="player_name_1">
    First Player:</label><br>
    <input type="text" name="player_name_1">
  </label>
  <label for="player_name_2">
    Second Player:
    <input type="text" name="player_name_2">
  </label>
  <input type="submit" value="Submit">
</form>
<div style='border: dashed red'>
</div>

