<form action="/names" method="post">
  <label for="player_name_1">First Player:</label><br>
  <input type="text" name="name1"><br>
  <label for="player_name_2">Second Player:</label><br>
  <input type="text" name="name2"><br>
  <input type="submit" value="Submit">
</form>

<div style='border: dashed red'>
</div>

